/**/

@media screen and (max-width: 500px) {}

@media screen and (max-width: 800px) {
    header .logo {
        margin-bottom: 0.62em;
    }
    header .content {
        flex-direction: column;
        text-align: center;
    }
    .principal-movie {
        font-size: 0.87em;
    }
    .principal-movie .description {
        max-width: 100%;
    }
    .film-recommended .content-carousel {
        overflow: visible;
    }
    .film-recommended .content-carousel .carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25em;
    }
    .film-recommended .indicators,
    .film-recommended .arrow-left,
    .film-recommended .arrow-right {
        display: none;
    }
    /* .film-recommended .content-carousel .carousel {
        width: 100%;
    } */
}

@media screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .principal-movie {
        min-height: 40.62em;
    }
    /* .film-recommended .content-carousel .carousel {
        width: 225em;
    } */
}