:root {
    --rojo: #E50914;
    --fondo: #141414;
    --menu: #AAA;
    --linkActive: #FFF;
    --white: #fff;
    --gradient: linear-gradient(rgba(0, 0, 0, .50)0%, rgba(0, 0, 0, .50) 100%);
    --transparent3: rgba(0, 0, 0, 0.3);
    --transparent5: rgba(0, 0, 0, 0.5);
    --transparent7: rgba(0, 0, 0, .7);
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
}


/*HEADER*/

.content {
    width: 90%;
    margin: auto;
}

header {
    /* padding: 1.87em 0; */
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: var(--menu);
    text-decoration: none;
    margin-left: 1.25em;
}

header nav a:hover,
header nav a.active {
    color: var(--linkActive);
}

.logo {
    width: 7em;
}

.search {
    border-radius: 0.4em;
    margin-left: 2em;
    width: 10em;
}

.searchIcon {
    margin-left: 0.4em;
}

a .searchIcon {
    color: var(--menu);
}

a .searchIcon:hover {
    color: var(--linkActive);
}


/*principal-movie*/

.principal-movie {
    font-size: 1em;
    /* */
    min-height: 29.7em;
    color: var(--white);
    background: var(--gradient);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: flex-end;
}

.principal-movie .content {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.principal-movie .title {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.principal-movie .description {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}


/*button*/

.principal-movie .button {
    background: var(--transparent5);
    border: none;
    border-radius: 0.31em;
    /* padding: 0.93em 1.87em; */
    padding: 0.43em 1.8em;
    color: var(--white);
    /* margin-left: 1.25em; */
    margin-left: 0px;
    cursor: pointer;
    transition: 3.s ease all;
    /* font-size: 1.12em; */
    font-size: 1em;
}

.principal-movie .button:hover {
    background: var(--white);
    color: var(--black);
}

.principal-movie .button i {
    margin-right: 1.25em;
}


/*content-title-controls*/

.content-title-controls {
    /* display: flex; */
    justify-content: space-between;
    align-items: end;
}

.content-title-controls h3 {
    color: var(--white);
    font-size: 1.87em;
}

.content-title-controls .indicators button {
    background: white;
    height: 0.18em;
    width: 0.62em;
    cursor: pointer;
    border: none;
    margin-right: 0.12em;
}

.content-title-controls .indicators button:hover,
.content-title-controls .indicators button.active {
    background: var(--rojo);
}


/*film-recommended*/

.films-container {
    margin-bottom: 4.37em;
}


/*films*/

.hidden {
    display: none;
}

.films-container .content-principal {
    display: flex;
    align-items: center;
    position: relative;
}

.films-container .content-principal .arrow-left,
.films-container .content-principal .arrow-right {
    position: absolute;
    border: none;
    background: var(--transparent3);
    font-size: 2.5em;
    height: 50%;
    /*50% del tamaño del contenedor - 25% del alto del boton */
    top: calc(50% - 25%);
    line-height: 2.5em;
    /* width: 1.12em; */
    width: 1.01em;
    color: var(--white);
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}

.films-container .content-principal .arrow-left:hover,
.films-container .content-principal .arrow-right:hover {
    background: var(--transparent7);
}

.films-container .content-principal .arrow-left {
    left: 0;
}

.films-container .content-principal .arrow-right {
    right: 0;
}


/*carousel*/

.films-container .content-carousel {
    width: 100%;
    padding: 1.25em 0;
    /*hiden-> todo lo que sobresalga quiero que este 100% oculto*/
    overflow: hidden;
    /* overflow-x: scroll; */
    /*scroll con animacion*/
    scroll-behavior: smooth;
}

.films-container .content-carousel .carousel {
    display: flex;
    flex-wrap: nowrap;
}

.films-container .content-carousel .carousel .film {
    /* min-width: 20%; */
    min-width: 25%;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px var(--transparent3);
}

.films-container .content-carousel .carousel .film.hover {
    transform: scale(1.2);
    transform-origin: center;
}

.films-container .content-carousel .carousel .film img {
    /* width: 100%; */
    vertical-align: top;
}